{% extends 'base.html' %}

{% block title %}
    <title>Customers</title>
{% endblock %}

{% block content %}
    <table>
    <tr><th>Customers</th><th>Account Number</th></tr>
        {% for user in customers %}
            <tr><td><a href="{% url 'employee:details' user.account_no %}" > {{ user.name }}</a></td><td>{{ user.account_no }}</td></tr>
    {% endfor %}
    </table>

    <div class="pagination">
<span class="step-links">
{% if customers.has_previous %}
<a href="?page={{ customers.previous_page_number }}">previous</a>
{% endif %}
<span class="current">
Page {{ customers.number }} of {{ customers.paginator.num_pages }}.
</span>
{% if customers.has_next %}
<a href="?page={{ customers.next_page_number }}">next</a>
{% endif %}
</span>
</div>
{% endblock %}