{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <h3>Search Transaction</h3>
  <form method="get">
    {{ filter.form }}
    <button type="submit">Search</button>
  </form>
    <br>
<h3>Transaction Details</h3>
  <table id="transaction">

  <tr><th>Id</th><th>User</th><th>Amount</th><th>Type</th><th>Time</th></tr>
  {% for transaction in filter.qs %}
    <tr>
        <td>{{ transaction.transaction_id }}</td>
        <td>{{ transaction.user }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.transaction_time }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock content %}

{% block script %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
	$(document).ready(function() {
        $('.tdate').daterangepicker({
          "singleDatePicker": true,
          "timePicker": false,
          "autoUpdateInput": true,
          "autoApply": true,

          locale: {
            format: 'YYYY-MM-DD'
          },
          // calender_style: "picker_4",
          "showDropdowns": true
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });


      });

</script>
{% endblock script %}