{% extends 'base.html' %}

{% block title %}
    <title>Homepage</title>
{% endblock %}

{% block content %}
    <ul>
    {% if user.is_authenticated %}
        <h3>Welcome {{ user.username }}</h3>
        <h4>Services</h4>
        <li><a href="{% url "customer:edit" %}">Edit Profile</a></li>
        <li><a href="{% url "customer:withdraw" %}">Withdraw Cash</a></li>
        <li><a href="{% url "customer:deposit" %}">Deposit Cash</a></li>
        <li><a href="{% url "customer:transfer" %}">Account Transfer</a></li>
        {% else %}
        <li><a href="{% url "account_login" %}">Login</a></li>
        <li><a href="{% url "account_signup" %}">Customer Signup</a></li>
        <li><a href="{% url "account_signup" %}">Employee Signup</a></li>
    {% endif %}
    </ul>
{% endblock %}